@{
    Educon.Models.User LSignedUser = Educon.Helpers.AccountHelpers.GetSignedUser();
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title Portal</title>
</head>
<body>
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
        @Html.Partial("_UserInfo", LSignedUser)
        <!--Page Content-->
        <main class="layoutContent mdl-layout__content">
            <div class="row">
                <div class="col-md-9">
                    @RenderBody();
                </div>
                <div class="col-md-3">
                    @Html.Partial("_Friends");
                </div>
            </div>
        </main>
    </div>
</body>
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@Scripts.Render("~/bundles/material")
@RenderSection("scripts", required: false)
@Styles.Render("~/Content/css")
@Scripts.Render("~/bundles/modernizr")
</html>
