@{
    Educon.Models.User LSignedUser = Educon.Helpers.AccountHelpers.GetSignedUser();
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title Portal</title>

    <style>
        dialog {
            position: fixed;
            top: 50%;
            transform: translate(0, -50%);
        }

        .mdl-dialog {
            border: none;
            box-shadow: 0 9px 46px 8px rgba(0, 0, 0, 0.14), 0 11px 15px -7px rgba(0, 0, 0, 0.12), 0 24px 38px 3px rgba(0, 0, 0, 0.2);
            width: 280px;
        }

        .demo-list-control {
            width: 300px;
        }

        .demo-list-radio {
            display: inline;
        }

        .mdl-dialog__title {
            padding: 24px 24px 0;
            margin: 0;
            font-size: 2.5rem;
        }

        .mdl-dialog__actions {
            padding: 8px 8px 8px 24px;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-flex-direction: row-reverse;
            -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
            -webkit-flex-wrap: wrap;
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        }

            .mdl-dialog__actions > * {
                margin-right: 8px;
                height: 36px;
            }

                .mdl-dialog__actions > *:first-child {
                    margin-right: 0;
                }

        .mdl-dialog__actions--full-width {
            padding: 0 0 8px 0;
        }

            .mdl-dialog__actions--full-width > * {
                height: 48px;
                -webkit-flex: 0 0 100%;
                -ms-flex: 0 0 100%;
                flex: 0 0 100%;
                padding-right: 16px;
                margin-right: 0;
                text-align: right;
            }

        .mdl-dialog__content {
            padding: 20px 24px 24px 24px;
            color: rgba(0,0,0, 0.54);
        }
    </style>

    @Scripts.Render("~/js/site")
</head>
<body>
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
        @Html.Partial("_UserInfo", LSignedUser)
        <!--Page Content-->
        <main class="layoutContent mdl-layout__content" style="overflow-y:hidden;">
            <div class="row">
                <div class="col-md-9">
                    @RenderBody()
                </div>
                <div class="col-md-3">
                    @Html.Partial("_Friends")
                </div>
            </div>
        </main>
    </div>

    <dialog id="add-new-friend" class="mdl-dialog">
        <h4 class="mdl-dialog__title" style="font-family: 'Bebas Neue'; color:rebeccapurple; margin-right:-200px;">Adicionar Amigo</h4>
        <div class="mdl-dialog__content">

            <input id="search" style="background-color: rebeccapurple; margin:0 auto;" placeholder="Usuário" />
            <br />
            <br />
            <center style="font-family: 'Bebas Neue'; font-size:18px;"><label id="lblUser"></label></center>

        </div>
        <center>
            <div class="mdl-dialog__actions">
                <button id="btnAddFriend" type="button" onclick="btnAddFriend_Click()" class="mdl-button" style="background-color: #ff3399; font-weight: bold;">Adicionar</button>
                <button type="button" class="mdl-button close">Voltar</button>
            </div>
        </center>
    </dialog>

    <dialog id="play-request" class="mdl-dialog">
        <div class="mdl-dialog__content">
            <span id="request-user-name" style="font-weight: bold"></span> deseja jogar com você!
        </div>
        <div class="mdl-dialog__actions">
            <button id="btnAcceptPlayRequest" type="button" class="mdl-button" style="background-color: #ff3399; font-weight: bold;">Aceitar!</button>
            <button type="button" class="mdl-button close">Rejeitar</button>
        </div>
    </dialog>

    <dialog id="wait-for-approval" class="mdl-dialog">
        <div class="mdl-dialog__content row">
            <div class="col-md-2">
                <div class="mdl-spinner mdl-js-spinner is-active"></div>
            </div>
            <div class="col-md-10">
                Aguarde até que <span class="friend-name" style="font-weight: bold"></span> aceite...
            </div>
        </div>
    </dialog>

    <dialog id="request-denied" class="mdl-dialog" style="background-color: red;">
        <div class="mdl-dialog__content" style="background-color: red;">
            <span style="font-family: Bebas Neue; font-weight: bold; font-size: 20pt; color:white;">Solicitação negada</span>
        </div>
        <div class="mdl-dialog__actions">
            <button type="button" class="mdl-button close" style="background-color: white; opacity: 0.9;">OK</button>
        </div>
    </dialog>


    @Scripts.Render("~/js/signalR")
    <script src="~/signalr/hubs"></script>
    @Scripts.Render("~/js/friends")
    @RenderSection("scripts", required: false)
    @Styles.Render("~/css/site")

    <script>
        function btnAddFriend_Click() {
            var LSearchFriend = $('#search').val();

            $.ajax({
                type: "POST",
                url: '@Url.Action("AddFriend", "Portal")',
                data: {
                AUserName: LSearchFriend
                },
                dataType: "json",
                success: function (status) {
                    $('#lblUser').text((status == true) ? 'Usuário adicionado com sucesso' : 'Usuário não foi encontrado');

                    if (status == true) {
                        $('#add-new-friend').find('.close').on('click', function () {
                            location.reload();
                        });
                    }
                }
            });
        }

        function configureDialog(ADialogId) {
            var dialog = document.querySelector('#' + ADialogId);

            if (!dialog.showModal) {
                dialogPolyfill.registerDialog(dialog);
            }

            if ($('#' + ADialogId).find('.close').length > 0) {
                $('#' + ADialogId).find('.close').on('click', function () {
                    document.querySelector('#' + ADialogId).close();
                });
            }
        }

        $(function () {
            // Configurar todos os dialogs
            configureDialog('add-new-friend');
            configureDialog('play-request');
            configureDialog('wait-for-approval');
            configureDialog('request-denied');

            $('#show-add-new-friend').on('click', function () {
                $('#lblUser').text('');
                document.querySelector('#add-new-friend').showModal();
            });
        });
    </script>
    <script type="text/javascript">
        // Listagem de amigos
        $(document).ready(function () {

            $.ajax({
                type: "POST",
                url: '@Url.Action("GetFriendsOfUser", "Portal")',
                data: {

                },
                dataType: "json",
                success: function (list) {

                    list.forEach(function (item) {
                        var template =
                            '<button id="btnFriend' + item.NamUser +'" class="list-group-item" style="width:90%;margin: 0 auto;" data-toggle="collapse" data-target="#divPlay' + item.NamUser + '">' +
                                '<label style="font-family:Bebas Neue; font-size: 25px;">' +
                                    item.NamPerson +
                                '</label>' +
                                '<div class="status-led"></div>' +
                                '<label class="status-text"></label>' +
                            '</button>' +
                            '<div id="divPlay' + item.NamUser + '" class="collapse">' +
                            '<a href="#" style="font-family:Bebas Neue;font-size:18pt;" class="textBold buttonSair mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" onclick="playRequest(\'' + item.NamUser +'\', \'' + item.NamPerson + '\')">Jogar!</a>' +
                            '</div>';

                        $('#listFriends').append(template);

                        var newButtonSelector = '#btnFriend' + item.NamUser;

                        if (item.IsOnline) {
                            $(newButtonSelector).removeAttr('disabled');
                            $(newButtonSelector + ' div.status-led').addClass('user-online');
                            $(newButtonSelector + ' label.status-text').addClass('user-online');
                        }
                        else {
                            $(newButtonSelector).attr('disabled', 'disabled');
                            $(newButtonSelector + ' div.status-led').addClass('user-offline');
                            $(newButtonSelector + ' label.status-text').addClass('user-offline');
                        }
                    });
                }
            });
        });
    </script>
</body>
</html>