@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@RenderSection("scripts", required: false)
@Styles.Render("~/Content/css")
@Scripts.Render("~/bundles/modernizr")
@RenderBody()
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title Portal</title>
    <script src="https://storage.googleapis.com/code.getmdl.io/1.0.4/material.min.js"></script>
    <link rel="stylesheet" href="https://storage.googleapis.com/code.getmdl.io/1.0.4/material.indigo-pink.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

</head>
<body>

<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <header class="mdl-layout__header">
        <div class="mdl-layout__header-row">
            <!-- Title -->
            <span class="mdl-layout-title">Portal</span>
        </div>

    </header>
    <!-- Panel Content -->
    <div class="mdl-layout__drawer" style="overflow-x:hidden; overflow-y:hidden;">
        @*<div class="row bar"></div>*@
        <div class="row bar"></div>
        <div class="row profile">
            
            <div class="circle"></div>
            @*<img class="imgIcon" src="~/Content/Images/camera-icon.png" />*@
            <div class="textBar row">

                <label class="nameText">Marianne</label>
                <br />
                <label class="emailText" style="font-family: 'Segoe UI';">marikell.silva@gmail.com</label>
            </div>




        </div>
        <div class="row bar"></div>

        <div class="menu">

            <div class="row">
                <label class="nameText">Pontos</label>
            </div>
            <div class="row">
                <label class="nameText" style="color:black; font-size:2.5em;">15</label>
            </div>
           <div class="row">
               <button class="buttonSair mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" style="margin-top:60px;">
                   Sair
               </button>
           </div>
        </div>

    </div>

    <!--Page Content-->
    <main class="layoutContent mdl-layout__content">
        
        
    </main>
</div>


   
</body>
</html>
